 <style>
            body {font-family:"Lucida Grande", Tahoma, Verdana, sans-serif;font-size:11px;background-color:#ffffff;}
            td {font-size:14px;}
    </style>
<body>
<center><img src="http://www.kudobots.com/images/JibJabLogo.jpg" align="middle"/>
<h2>KudoBot daily kudos for <%= @kudos[0]["dDate"] %></h2>
<a href='http://www.kudobots.com/' style='color:#cc250d;'><strong>Domo Arigato KudoBot!!</strong></a>
<br/><br>
<table border='0' cellspacing='0' cellpadding='3' style='border:1px dotted black;background-color:#ffffff;'>
  <% @kudos.each do |k| %>
 
                     <tr valign='middle'>
                   <td style='width:50px;'><img src='http://www.kudobots.com/images/users/<%= k.from_avatar %>'/></td>
                   <td style='width:100px;'>Sent kudos to</td>
                     <td style='width:50px;'><img src='http://www.kudobots.com/images/users/<%= k.avatar %>'/></td>
                      <td style='width:360px;'><%= k.reason.gsub("\n", "<br>") %></td>
                    	<td style='width:40px;'><a href='http://www.kudobots.com?rekudo=<%= k.thread_id %>' target='_blank'><img src='http://www.kudobots.com/images/re_kudo.gif' border='0' alt='Re-Kudo' title='Re-Kudo'/></a></td>
				</tr>

            
 <% end %>
</table>

    </center>
</body>