 <style>
            body {font-family:"Lucida Grande", Tahoma, Verdana, sans-serif;font-size:11px;background-color:#ffffff;}
            td {font-size:14px;}
    </style>
<body>
<center><img src="http://www.kudobots.com/images/JibJabLogo.jpg" align="middle"/>
<h2>KudoBot daily kudos for <%= @kudos[0]["dDate"] %></h2>
<a href='http://www.kudobots.com/' style='color:#cc250d;'><strong>Domo Arigato KudoBot!!</strong></a>
<br/><br>
<table border='0' cellspacing='2' cellpadding='3' style='background-color:#ffffff;'>
  <% @kudos.each do |k| %>
 
                     <tr>
                   <td style='width:50px;' valign='top'><img src='http://www.kudobots.com/images/users/<%= k.from_user.avatar %>'/></td>
                      <td style='width:460px;'>
						<div style="margin-bottom:8px">Sent Kudos To:</div>
						<% k.users.each do |u| %>
						<img src='http://www.kudobots.com/images/users/<%= u.avatar %>' style="width:34px;"/>
						<% end -%>
						<div style="margin-left:20px;margin-top:8px;">
						"<em><%= k.reason.gsub("\n", "<br>") %></em>"
						</div>
						</td>
                    	<td style='width:40px;'><a href='http://www.kudobots.com?rekudo=<%= k.thread_id %>' target='_blank'>
	<img src='http://www.kudobots.com/images/re_kudo.gif' border='0' alt='Re-Kudo' title='Re-Kudo'/></a></td>
				</tr>
				<tr>
					<td colspan="3"><hr noshade size="1"></td>
				</tr>
            
 <% end %>
</table>

    </center>
</body>