<% unless @received.blank? %>
	<h1>Kudos Received (<%= @kudos.total_count %>)</h1>
	<div style="width:360px;height:300px;overflow:auto;">
	<table border="0" cellspacing="3">
		<tr style='font-weight:bold;'><td>User</td><td>Count</td></tr>
		<% @received.each do |s| %>
 
			<tr>
				<td><%= s.first_name %> <%= s.last_name %></td>
				<td style='text-align:center'><%= s.kudo_counts %></td>
		<% end -%>
	
	</table>
	<br/><br/>

	
	<% unless @kudos.blank? %>
<%= paginate @kudos %>
	<table cellpadding='3'>
		<tr style='font-size:10px;'>
			<td><strong>To</strong></td><td><strong>Kudo</strong></td><td><strong>Date</strong></td>
		</tr>
		<% @kudos.each do |h| %>
		 
		<tr valign='top' style='font-size:9px;'>
			<td><img src="/images/users/<%= h.from_user.avatar %>" style="width:30px;" 
				 title="<%= h.from_user.first_name %> <%= h.from_user.last_name %>" 
				alt="<%= h.from_user.first_name %> <%= h.from_user.last_name %>"></td>
			<td><%= h.reason %></td>
			<td><%=  h.created_at.strftime("%m/%d/%Y") %></td>
		</tr>
		<% end %>
	</table>
	<% end -%>
	</div>
	 
	

<% else %>
	 <h1>You have not received kudos from anyone yet.</h1>
		Send kudos <a href='/'>here</a>
<% end %>