<!-- <h2>Sign in</h2> -->
<p>&nbsp;</p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table cellpadding="3">
	<tbody><tr>
		<td><label for="user_login">Username:</label></td>
		<td><%= f.text_field :login %></td>
	</tr>
	<tr>
		<td><%= f.label :password %>:</td>
		<td> <%= f.password_field :password %></td>
	</tr>
	<tr>
		<td><input type="hidden" value="1" name="user[remember_me]"</td>
		<td><%= image_submit_tag("go.png") %>
		<br>
		&nbsp;&nbsp;<%= render :partial => "devise/shared/links" %>
		</td>
	</tr>
</tbody></table>
	
<% end %>


